/* ###############################################################################
# see the original full css here:
https://raw.githubusercontent.com/rstudio/rstudio/44b1b2815b76013d5a2ba6e9a203ab52be7e5d9e/src/cpp/session/resources/presentation/slides.css
#################################################################### */

/* see possible options here:
https://github.com/rstudio/rstudio/blob/master/src/cpp/session/resources/presentation/revealjs/js/reveal.js
*/

/* #############################################################################################
# changing font (from xaringa: https://github.com/yihui/xaringan/blob/master/inst/rmarkdown/templates/xaringan/resources/default-fonts.css)
#################################################################### */

@import url(https://fonts.googleapis.com/css?family=Fira+Sans:300,300i,400,400i,500,500i,700,700i);
@import url(https://cdn.rawgit.com/tonsky/FiraCode/1.204/distr/fira_code.css);
@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700);

/* ###################################################################################
# importing font-awesome and academicons icons
#################################################################### */

@import url(css/academicons.min.css);
@import url(css/font-awesome.min.css);

.ai:before{
	font-family: Academicons;
	font-weight: normal;
	font-style: normal;
	font-size: 150%;
	color: grey;
	     }
	     
.fa:before{
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	font-size: 150%;
	color: grey;
	     }
	     
/* #######################################
# setting global font
############################ */

body { 
  font-family: 'Droid Serif', 'Palatino Linotype', 'Book Antiqua', Palatino, 'Microsoft YaHei', 'Songti SC', serif;
}

h1, h2, h3 {
  font-family: "Yanone Kaffeesatz";
  font-weight: normal;
}

/* #######################################
# font sizes
############################ */

.reveal p { /* regular pragraphs */
    font-size: 100%;
}

.reveal ul { /* regular pragraphs */
    font-size: 100%;
}

.MathJax {
    font-size: 1em !important;
    /*line-height: 10em !important;*/
}

/* #######################################
# code chunks formatting
############################ */

.reveal pre {   
  margin-top: 0;
  max-width: 95%;
  border: 0;
  box-shadow: none;
  margin-bottom: 1em;
}

.reveal pre code {
  display: block; padding: 0.5em;
  font-family: "Source Code pro", monospace;
  font-size: 130%;
  line-height: 1.1em;
  background-color: white; /* bg color or code result */
  overflow: visible;
  max-height: none;
  word-wrap: normal;
}

/* ############################################
# progress bar (at the bottom)
#################################### */

.reveal .progress {
  height: 1%;
  color: #646D7E;
  /*top: 0;*/ /* uncomment to place the progress bar at the top*/
  background: rgba(0, 0, 0, 0.2);
}

/* ############################################
# line height(s)
#################################### */

.lineheight .reveal p {
    line-height: 160%;
}

.lineheight .reveal ul {
    line-height: 160%; /* ul = unordered list */
}

.reveal p {
    line-height: 10px;
}

.reveal h3 { 
  margin-bottom: 5%;
}

/* ################################################
# removing box shadow around images
########################################## */

.reveal section img {
   border: none;
   box-shadow: none;
}

/* ################################
# title slide
########################### */

/* nice colors: #6D7B8D, #657383, #616D7E, #646D7E, #566D7E */

.section .reveal .state-background {
   background: #566D7E;
}

.section .reveal h1 { 
  font-size: 2.5em;
  line-height: 125%;
  margin-top: 12.5%;
  margin-bottom: 20%;
  word-wrap: normal;
}

.section .reveal p { 
  font-size: 1.25em;
  line-height: 150%;
  word-wrap: normal;
}

/* ################################
# two-columns layout
########################### */

.reveal .slides section .column1 {
    top: 20%;
    left: 0em;
}

.reveal .slides section .column2 {
    top: 45%;
    left: 65%;
    margin-left: 0em;
    margin-right: 5em;
}

.reveal .slides section .column pre code {
  display: block;
  font-family: "Source Code pro", monospace;
  font-size: 80%;
  line-height: 1.1em;
  background-color: white; /* bg color or code result */
  color: orangered;
  overflow: visible;
  word-wrap: normal;
  float: right;
  margin-right: 5em;
  
}

/* ################################
# remove table borders  
########################### */

.reveal table { /* cadre global */
  border-width: 0;
}

.reveal table th {
  border-width: 0;
}

.reveal table td {
  border-width: 0;
}

/* ################################
# change color of bold text
########################### */

.reveal strong {
  color: #566D7E; /* #778899 */
}

/* ############################################
# centered transition slide
#################################### */

.center h3 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 50%;
    transform: translate(-50%, -50%);
    font-style: italic;
}
